.team .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background: #fff;
}

.team .member .teampic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}

/* .team .member .teampic img {
    transition: ease-in-out 0.3s;
    } */


.team .member .member-info {
    padding-left: 30px;
}

.team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #091E3E;
}

.team .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.team .member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: black;
    bottom: 0;
    left: 0;
}

.team .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
    font-weight: bold;
}

.team .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.team .member .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #eff2f8;
}

.team .member .social a i {
    color: #091E3E;
    font-size: 16px;
    margin: 0 2px;
}

.team .member .social a:hover {
    background: #091E3E;
}

.team .member .social a:hover i {
    color: #fff;
}

.team .member .social a+a {
    margin-left: 8px;
}

section {
    padding: 60px 0;
    overflow: hidden;
}



.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #091E3E;
}

.underline {
    width: 150px;
    height: 1px;
    background-color: black;
    margin: auto;
    margin-top: -30px;
}


.section-title p {
    margin-top: 20px;
}



.nine h1 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: #222;
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
}

.nine h1 span {
    margin-top: 5px;
    font-size: 15px;
    color: #444;
    word-spacing: 1px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 500;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}



.nine h1 span:after,
.nine h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color: #f8f8f8;
}

.btnp {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.btn-grad {
    background-image: linear-gradient(to right, #642B73 0%, #C6426E 51%, #642B73 100%);
    margin: 15px 0px 0px 0px;
    padding: 7px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    font-size: .7rem;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}